:root{
    --color-primary:#2584ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;
    --color-heading:#1b0760;
    --color-body:#918c94;
}
/* ===============TOPOGRAPHY================*/
html{
    font-size: 62.5%;   /* 62.5% of 16px = 10px */
}
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 7rem;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  p {
    margin-top: 0;
  
    
}
@media screen and (min-width: 1024px) {
    h1 {
      font-size: 8rem;
    }
  
    h3 {
      font-size: 2.4rem;
    }
  }
  /*=====================LINKS===================*/
  a{
    text-decoration: none;
  }
  .link-arrow{
    color: var(--color-accent);
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: 0.5s;
  }
  .link-arrow:hover::after{
    margin-left: 15px;
    color: #2584ff;
     
  }
  @media screen and (min-width:1024px) {
    .link-arrow{
      font-size: 1.5rem;
    }
    
  }
  /*==============Badges=================*/
  .badge{
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 40px;
    /* background-color: #2584ff; */
  }
  .badge--primary{
    background-color: var(--color-primary);
    color: white;
  }
  .badge--secondary{
    background-color: var(--color-secondary);
    color: white;
  }
  .badge--small{
     font-size: 1.6rem;
  }
  @media screen and (min-width:1024px) {
    .badge{
      font-size: 1.5rem;
    }
    .badge--small{
      font-size: 1.2rem;
    }
    
  }
  /*===============List==================*/
  .list{
    list-style: none;
    padding-left: 0;
    color: var(--color-heading);
  }
  .list--inline .list__item{
    display: inline-block;
    margin-left: 2rem;
    font-weight: bold;
    font-size:2rem ;
  }
  .list--tick  {
    list-style-image: url(../icons/tick.svg);
    margin-left: 5rem;
    

  }
  .list--tick .list__item{
    padding-left: 1rem;
    font-weight: bold;
  }